<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:align="center">

<form action="#" th:action="@{/api/save}" method="get">
    <button type="submit">Get And Save Data</button>
</form>

<form action="#" th:action="@{/api/history}" method="post" th:value="${historyObjectSensorValues}">
    <div>
        <table>
            <thead>
            <tr>
                <th>Sensor Id</th>
                <th>Start Time</th>
                <th>Stop Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="number" th:name="sensor_id">Input Sensor Id</input>
                </td>
                <td>
                    <input type="number" th:name="start_datetime">Input Start Date Time</input>
                </td>
                <td>
                    <input type="number" th:name="end_datetime">Input End Date Time</input>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Print Sensor History</button>
    </div>
    <div th:if="${!historyObjectSensorValues.empty}">
        <table>
            <thead>
            <tr>
                <th>Object id</th>
                <th>Time</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="objectSensorValue : ${historyObjectSensorValues}">
                <td><span th:text="${objectSensorValue.objectId}"> ObjectId </span></td>
                <td><span th:text="${objectSensorValue.time}"> Time </span></td>
                <td><span th:text="${objectSensorValue.value}"> Value </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<form action="#" th:action="@{/api/latest}" th:value="${latestObjectSensorValues}" method="post">
    <div>
        <table>
            <thead>
            <tr>
                <th>Object Id</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="number" th:name="object_id">Input Object Id</input>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Print Object Latest Values</button>
    </div>
    <div th:if="${!latestObjectSensorValues.empty}">
        <table>
            <thead>
            <tr>
                <th>Sensor id</th>
                <th>Time</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="objectSensorValue : ${latestObjectSensorValues}">
                <td><span th:text="${objectSensorValue.sensorId}"> SensorId </span></td>
                <td><span th:text="${objectSensorValue.value}"> Value </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<form action="#" th:action="@{/api/avg}" th:value="avgLatestObjectSensorValues" method="get">
    <button type="submit">Print avg of latest values for all objects</button>
    <div th:if="${!avgLatestObjectSensorValues.empty}">
        <table>
            <thead>
            <tr>
                <th>Object id</th>
                <th>Avg Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="objectSensorValue : ${avgLatestObjectSensorValues}">
                <td><span th:text="${objectSensorValue.key}"> SensorId </span></td>
                <td><span th:text="${objectSensorValue.value}"> Value </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
</body>
</html>